/* copied from discord styles */
.vc-badge-slot {
    align-items: center;
    background: var(--background-mod-subtle);
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-sm);
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 50px;
    justify-content: center;
    width: 50px;
}

.vc-badge-slot:hover {
    background: var(--control-secondary-background-hover);
}

.vc-badge-slot:active {
    background: var(--control-secondary-background-active);
}

.vc-badge-icon {
    object-fit: contain;
    height: 24px;
    width: 24px;
}