/* copied from discord styles */
.vc-badge-slot {
    align-items: center;
    background: var(--background-mod-subtle);
    border: 2px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 40px;
    justify-content: center;
    max-width: 200px;
}

.vc-badge-content {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: unset;
    flex-shrink: 0;
}

.vc-badge-slot:hover {
    background: var(--control-secondary-background-hover);
}

.vc-badge-slot:active {
    background: var(--control-secondary-background-active);
}

.vc-badge-icon {
    object-fit: contain;
    height: 24px;
    width: 24px;
    flex-shrink: 1;
}