.vc-expandable-card-header {
    display: flex;
    cursor: pointer;
    margin: 4px;
    border-radius: var(--radius-xs);
    transition: background-color 0.1s linear;

    &:hover {
        background-color: var(--background-mod-muted);
    }

    .vc-expandable-card[data-expanded="true"] & {
        background-color: var(--card-secondary-bg);
    }
}

.vc-expandable-card-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 12px;
}

.vc-expandable-card-content {
    padding: 0.5em 1em;
}