.vc-paginator-page-control-container {
    bottom: 0;
    margin-top: 16px;
    width: 100%;
}

.vc-paginator-page-control {
    margin: auto;
    padding: 4px 0;
}

.vc-paginator-page-button,
.vc-paginator-page-control {
    align-items: center;
    display: flex;
    width: min-content;
}

.vc-paginator-page-button {
    box-sizing: border-box;
    color: var(--text-strong);
    cursor: pointer;
    font-weight: var(--font-weight-semibold);
    height: 28px;
    justify-content: center;
    margin: 4px;
    min-width: 28px;
    padding: 6px;
    white-space: nowrap;
}

.vc-paginator-page-button:hover {
    background-color: var(--background-mod-normal);
    color: var(--interactive-text-hover);
}

.vc-paginator-round-rutton {
    border-radius: 14px;
    min-width: 28px;
}

.vc-paginator-end-button {
    padding: 0 8px;
    width: auto;
}


.vc-paginator-end-button:first-child {
    padding-inline-end: 12px;
}

.vc-paginator-end-button:last-child {
    padding-inline-start: 12px;
}

.vc-paginator-end-button-inner {
    align-items: center;
    display: flex;
}

.vc-paginator-gap {
    color: var(--text-default);
    margin: 8px 4px;
    text-align: center;
    width: 28px;
}


.vc-paginator-icon-caret {
    display: inline-block;
    height: 1em;
    width: 1em;
}

.vc-paginator-icon-caret:first-child {
    margin-inline-end: 4px;
}

.vc-paginator-icon-caret:last-child {
    margin-inline-start: 4px;
}

.vc-paginator-gap-input {
    width: 50px;
}

.vc-paginator-selected,
.vc-paginator-selected:hover {
    background-color: var(--brand-500);
    color: var(--white);
}

.vc-paginator-gap-input + .vc-paginator-selected {
    margin-inline-start: 10px;
}

.vc-paginator-selected + .vc-paginator-gap-input {
    margin-inline-start: 6px;
}