/* #region index.tsx */
.vc-settings-changelog-no-changes {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.vc-settings-changelog-no-changes-background {
    width: 200%;
    height: 250px;
    background: url("https://discord.com/assets/b36de980b174d7b798c89f35c116e5c6.svg") center no-repeat;
}

.vc-settings-changelog-no-changes-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* #endregion */

/* #region NewChangesSection.tsx */
.vc-settings-changelog-plugins-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.vc-settings-changelog-plugins-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}


.vc-settings-changelog-list {
    list-style: disc;
    margin: var(--space-4) 0 var(--space-4) var(--space-20);
    padding: 0;
}

.vc-settings-changelog-list-item {
    margin-bottom: var(--space-16);
}

h2.vc-settings-changelog-added,
h2.vc-settings-changelog-removed,
h2.vc-settings-changelog-fixed,
h2.vc-settings-changelog-improved {
    align-items: center;
    display: flex;
    gap: 4px;
    margin-top: var(--space-24);
}

h2.vc-settings-changelog-added::after,
h2.vc-settings-changelog-removed::after,
h2.vc-settings-changelog-fixed::after,
h2.vc-settings-changelog-improved::after {
    flex: 1 1 auto;
    content: "";
    height: 1px;
    opacity: .6;
}

.vc-settings-changelog-added {
    color: var(--text-feedback-positive);

    &::after {
        background-color: var(--text-feedback-positive);
    }
}

.vc-settings-changelog-removed {
    color: var(--text-feedback-critical);

    &::after {
        background-color: var(--text-feedback-critical);
    }
}

.vc-settings-changelog-fixed {
    color: var(--text-feedback-info);

    &::after {
        background-color: var(--text-feedback-info);
    }
}

.vc-settings-changelog-improved {
    color: var(--text-brand);

    &::after {
        background-color: var(--text-brand);
    }
}

/* #endregion */