.vc-settings-changelog-parsed h2 {
    text-transform: none;
}

.vc-settings-changelog-plugins-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em
}

.vc-settings-changelog-no-changes {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center
}


.vc-settings-changelog-no-changes-background {
    width: 200%;
    height: 250px;
    background: url("https://discord.com/assets/b36de980b174d7b798c89f35c116e5c6.svg") center no-repeat;
}

.vc-settings-changelog-no-changes-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vc-settings-changelog-added {
    color: var(--text-feedback-positive);
}

.vc-settings-changelog-modified {
    color: var(--text-feedback-warning);
}